.login-container .login{
    background-color: #353D68;
}

.login-container .login:hover{
    background-color: #FF8261;
}

.login-container .quick{
    color:#353D68;
}

.login-container .fleet{
    color: #FF8261;
}

.login-container .buttons{
    display: flex;
    flex-direction: column;
}

.login-container .buttons p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
