.move h1{
    font-size: 3em;
}

.solutions-button{
    background-color: #272D55;
}

.solutions-button:hover{
    background-color: #272D55;
}

.landing-text h1{
    font-size: 3em;
    font-weight: 900;
}

