/* .navbarr{
    background: #272D55;
    border-bottom: 1px solid white;
    margin-left: -300px;
}

.quick{
    color: #FF8261;
}

.fleet{
    color: #F2B035;
}

.lorry{
    width: 100px;
    margin-left: -40px;
}

i{
    color: #fff;
}

.line{
    border-top: 2px solid rgb(20, 5, 5);
}

.spans span{
    font-weight: 900;
} */
/* .quicknavbar{
    background: #272D55;
    width: 100%;
} */
/* .quick{
    color: #fff;
    font-weight: 900;
}

.menus{
    margin-left: 1350px;
}

.iconi{
    margin-bottom: 30px;
    margin-left: 20px;
    color: #fff;
} */

.navbar-logo a{
    font-size: 2em;
}

.navbar-list li{
    font-size: 1.5em;
}