.form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Order{
    margin-top: 200px;
}
/* .selecter{
width: 100%;
} */
.inputt{
    width: 113%;
    margin-left: 9px;
    margin: 10px;
}
.class{
    display: flex;
    width: 140%;
}
.order-card{
    text-align: center;
}
